#body {
  margin: 10px 10px 10px 10px;
}
#container-list {
  display: flex;
  flex-direction: column;
}
.container-row-header {
  display: flex;
  border: 2px solid #ccc;
  border-bottom: 4px solid #ccc;
}
.container-row {
  display: flex;
  border: 2px solid #ccc;
}

.container-column {
  flex: 1; /* Distribute space equally */
  padding: 2px;
  box-sizing: border-box;
  border-right: 2px solid #ccc;
}
